// generate application tokens at https://github.com/settings/applications/new
module.exports = {
  github: {
    clientId: 'ASDF',
    secret: 'ASDFASDF',
    // you can create more apps and we will rotate through the
    // keys when you run out of rate limit in one of them
    apps: [
      {
        clientId: 'ASDF2',
        secret: 'ASDFASDF2',
      },
      {
        clientId: 'ASDF3',
        secret: 'ASDFASDF3',
      }
      // ... as many as you want
    ],
    // personal access token for making auth'd clones. don't give this token any permissions, not needed
    token: ''
  },
  elasticsearch: {
    host: 'localhost:9200',
    log: 'trace'
  }
};
