// generate application tokens at https://github.com/settings/applications/new
module.exports = {
  github: {
    clientId: 'ASDF',
    secret: 'ASDFASDF',
    // personal access token for making auth'd clones. don't give this token any permissions, not needed
    token: ''
  }
};
