*/15 * * * * /usr/local/bin/coffee /home/ubuntu/blockbuilder-search-index/gist-meta.coffee /home/ubuntu/blockbuilder-search-index/data/latest.json 15min > /tmp/meta.log 2>&1
4-48/16 * * * * /usr/local/bin/coffee /home/ubuntu/blockbuilder-search-index/gist-content.coffee /home/ubuntu/blockbuilder-search-index/data/latest.json > /tmp/content.log 2>&1
8-51/17 * * * * /usr/local/bin/coffee /home/ubuntu/blockbuilder-search-index/elasticsearch.coffee /home/ubuntu/blockbuilder-search-index/data/latest.json
