*/15 * * * * /usr/bin/coffee /home/ubuntu/blockbuilder-search-index/gist-meta.coffee /home/ubuntu/blockbuilder-search-index/data/latest.json 20min > /home/ubuntu/logs/gist-meta.log 2>&1
1-46/15 * * * * /usr/bin/coffee /home/ubuntu/blockbuilder-search-index/gist-cloner.coffee /home/ubuntu/blockbuilder-search-index/data/latest.json > /home/ubuntu/logs/gist-cloner.log 2>&1
2-47/15 * * * * /usr/bin/coffee /home/ubuntu/blockbuilder-search-index/elasticsearch.coffee /home/ubuntu/blockbuilder-search-index/data/latest.json
