*/15 * * * * /usr/local/bin/coffee /home/ubuntu/blockbuilder-search-index/gist-meta.coffee /home/ubuntu/blockbuilder-search-index/data/latest.json 20min > /tmp/meta.log 2>&1
1-46/15 * * * * /usr/local/bin/coffee /home/ubuntu/blockbuilder-search-index/gist-cloner.coffee /home/ubuntu/blockbuilder-search-index/data/latest.json > /tmp/content.log 2>&1
2-47/15 * * * * /usr/local/bin/coffee /home/ubuntu/blockbuilder-search-index/elasticsearch.coffee /home/ubuntu/blockbuilder-search-index/data/latest.json
